<head>
    <title>Incubix Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div id="app"></div>
    <noscript>Your browser does not support JavaScript!</noscript>
    <script>
        if ('serviceWorker' in navigator) {
          window.addEventListener('load', function() {
            navigator.serviceWorker.register('/worker.js').then(function(registration) {
              console.log('Worker registration successful', registration.scope);
            }, function(err) {
              console.log('Worker registration failed', err);
            }).catch(function(err) {
              console.log(err);
            });
          });
        } else {
          console.log('Service Worker is not supported by browser.');
        }
      </script>
</body>
