body, html{
   

     /* The image used */
     background-image: url("/img/loginbg.png");

     /* Full height */
     height: 100%; 
 
     /* Center and scale the image nicely */
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
 
}